<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/aditya.verma/IdeaProjects/ATB12xAPIAutomationProgram">
        <classes>
            <class name="com.thetestingacademy.ex03_TestNG_AllureReport.Lab005_APITesting_TestCase">
                <methods>
                    <include name="test_GET_Positive_TC1"/>
                    <include name="test_GET_Negative_TC2"/>
                    <include name="test_GET_Negative_TC3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>